<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
  </head>
  <body>
    <h1>WELL COME TO VAMSHI NEWS PORTAL</h1>
    <img src="{% static 'images/news1.jpeg'%}" alt="uploadsoon!!!">
    <ul>
      <li><a href="movies/">Movies information</a></li>
      <li><a href="sports/">Sports information</a></li>
      <li><a href="political/">political information</a></li>
    </ul>
  </body>
</html>
